[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    build,
    dist,
    .pytest_cache,
    .github
ignore =
    E203,  
    W503, 
    E501
per-file-ignores =
    __init__.py:F401
